@model IEnumerable<WebApplication.model.People.Person>

@{
    ViewBag.Title = "Pessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Pessoas</h2>
<br />

<p>
    <span class="btn btn-default">@Html.ActionLink("Novo", "Create")</span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document2)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Address.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.Number)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Address.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.State)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AddDate)*@
            @Html.DisplayName("Incluso")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EditDate)*@
            @Html.DisplayName("Edição")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document2)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Address.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Number)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Address.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate) @Html.DisplayFor(modelItem => item.AddUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditDate) @Html.DisplayFor(modelItem => item.EditUser)
        </td>
        <td style="width:180px">
            @Html.ActionLink("Alterar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Mostrar", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
